*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 980px;
    margin: 0 auto;
}
.container{
    margin-top: 20px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 1rem;

}
.image-1{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.image-2{
    width: 240px;
    height: 100px;
}
